<!DOCTYPE html>

<html>

<head>
    <!-- <link rel="stylesheet" href="index.css"> -->
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">
</head>

    <body style="margin:10px">
            <div class="row">
                {% for card in train_cards: %}
                <div class="col-3 card" style="padding:10px">
                    <p> {{card.get_num() }}</p>
                    <table class="table table-striped">
                        <tr>
                            <td>
                                Red
                            </td>
                            <td class="bg-{{card.get_color(card.get_k())}}">
                                {{ card.get_k() }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Green
                            </td>
                            <td class="bg-{{card.get_color(card.get_precip())}}">
                                {{ card.get_precip() }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Purple
                            </td>
                            <td class="bg-{{card.get_color(card.get_temp())}}">
                                {{ card.get_temp() }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Yellow
                            </td>
                            <td class="bg-{{card.get_color(card.get_slope())}}">
                                {{ card.get_slope() }}
                            </td>
                        </tr>
                        <tr class="table-info">
                            <td>
                                Blue
                            </td>
                            <td>
                                {{ card.get_wtd() }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor%}

                {% for card in test_cards: %}
                <div class="col-3 card" style="padding:10px">
                    <p> {{card.get_num() }}</p>
                    <table class="table table-striped">
                        <tr>
                            <td>
                                Red
                            </td>
                            <td class="bg-{{card.get_color(card.get_k())}}">
                                {{ card.get_k() }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Green
                            </td>
                            <td class="bg-{{card.get_color(card.get_precip())}}">
                                {{ card.get_temp() }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Purple
                            </td>
                            <td class="bg-{{card.get_color(card.get_temp())}}">
                                {{ card.get_precip() }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Yellow
                            </td>
                            <td class="bg-{{card.get_color(card.get_slope())}}">
                                {{ card.get_slope() }}
                            </td>
                        </tr>
                        <tr class="table-info">
                            <td>
                                Blue
                            </td>
                            <td>
                                {{ card.get_wtd() }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor%}
            </div>
        </div>

    </body>

    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>

</html>